
body {
  background: white url(images/swirl_pattern.png) top left repeat;
  font-family: Helvetica, Arial, serif;
  justify-content: center;
}
h1 {
  font-weight: 500;
  font-size: 36px;
}
h3 {
  font-weight: 400;
  margin-top: 10px;
}
img {
  height: 50px;
  width: 100px;
}
ul {
  margin: auto;
  padding: 0;
}

ul li {
  display: inline;
  border: solid 2px #ff0365;  
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 25px;
}

.center {
  text-align: center;
}

.container {
  background-color: white;
  margin: 10px auto;
  padding: 10px auto;
  max-width: 520px;
}

.guess-input {
  position: relative;
  margin: 30px;
}
#players-input {
  height: 175px;
  width: 175px;
  font-size: 40px;
  margin: 5px 20px 5px 20px;
  border: solid 4px #ff0365;
  border-radius: 50%;
}
#submit {
  position: absolute;
  top: 95px;
  left: 220px;
  height: 80px;
  width: 80px;
  font-size: 40px;
  margin: 5px 20px 5px 20px;
  border: solid 4px #ff0365;
  border-radius: 50%;
  background-color: white;
}

#submit:hover {
  position: absolute;
  top: 95px;
  left: 220px;
  height: 80px;
  width: 80px;
  font-size: 40px;
  margin: 5px 20px 5px 20px;
  border: solid 4px #ff0365;
  border-radius: 50%;
  background-color: #89CFF0;
}

#submit:active {
  position: absolute;
  top: 95px;
  left: 220px;
  height: 80px;
  width: 80px;
  font-size: 40px;
  margin: 5px 20px 5px 20px;
  border: solid 5px #ff0365;
  border-radius: 50%;
  background-color: #73C2FB;
}






.menu-btns button {
  height: 70px;
  width: 180px;
  font-size: 40px;
  margin: 20px;
}
#headers { 
  color: #ff0365;
  border: solid 4px; 
  border-radius: 10px;
  margin:20px;
}

#reset {
  background-color: white;
  border: solid 4px #ff0365;  
  border-radius: 10px;
  color: #ff0365;
}
#reset:hover{
  background-color: #9bea25;
  border: solid 4px #ff0365;  
  border-radius: 10px;
  color: #ff0365;
}
#reset:active{
  background-color: #94f703;
  border: solid 5px #ff0365;  
  border-radius: 10px;
  color: #ff0365;
}

#hint {
  background-color: white;
  border: solid 4px #ff0365;  
  border-radius: 10px;
  color: #ff0365
}
#hint:hover {
  background-color: #f1ef61;
  border: solid 4px #ff0365;  
  border-radius: 10px;
  color: #ff0365
}
#hint:active {
  background-color: #f5dc07;
  border: solid 5px #ff0365;  
  border-radius: 10px;
  color: #ff0365
}
