/*.container {
  justify-content: center;  
  max-width: 600px;
  border: black solid 2px;
}

h1 {
  font-size: 1rem;
  margin: 50px auto;
}
h2 {

}


#footer {
  text-align: center;
  
  border-top: solid 2px black;
  background-color: white;
  bottom: 0;
  
}

#parent-input {
  display: inline;  
  margin: 0 auto;
}

.guess {
  display: inline;
  border: solid black 1px;

}
*/
body {
  background: white url(images/swirl_pattern.png) top left repeat;
  font-family: Helvetica, Arial, serif;
  justify-content: center;
}
h1 {
  font-weight: 500;
  font-size: 36px;
}
h3 {
  font-weight: 400;
}
img {
  height: 100px;
  width: 300px;
}
.center {
  text-align: center;
}
.container {
  background-color: white;
  /*border: solid 1px;*/
  margin: 10px auto;
  padding: 10px auto;
}
.headers {
  /*border: solid 1px;*/
}
.guesses {
  /*border: solid 1px;*/
}
.guess-input {
  justify-content: center;
  /*border: solid 1px;*/
  margin: 5px auto;
}
.guess-input input {
  height: 175px;
  width: 175px;
  font-size: 40px;
  margin: 5px 20px 5px 20px;
  border-radius: 5px;
}
.guess-input button {
  height: 180px;
  width: 180px;
  font-size: 40px;
  margin: 5px 20px 5px 20px;
}
ul {
  padding: 0;
  margin: 0;
}
.guess {
  display: inline;
  border: solid 1px;  
  border-radius: 5px;
  font-size: 60px;
  padding: 0 25px;
}
.menu-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*border:solid 1px;*/
  margin: 5px auto;
}

.menu-btns button {
  height: 100px;
  width: 180px;
  font-size: 40px;
  margin: 5px 20px 5px 20px;
}